* {
    box-sizing: border-box;
}
html, body {
    display: flex;
    margin: 0;
    background-color: limegreen;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.Lform {
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
    flex-direction: column;
    width: 800px;
    height: 400px;
    padding: 1em;
    justify-content: center;
    align-items: center;
    background: white;
}
p a {
    color: rgb(80, 157, 4);
    text-decoration: none;
}
#email, #password, #sub {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
#sub {
    color: rgb(255, 255, 255);
    background-color: rgb(28, 181, 1);
    transition: .3s ease-in-out;
}
/*hover styling*/
#sub:hover {
    font-size: 40px;
    background-color:rgb(13, 255, 0);
}

