/*box sizing for all elements*/
* {
    box-sizing: border-box;
}
html, body {
    display: flex;
    margin: 0;
    background-color: limegreen;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
/*form div styling*/
.Sform {
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
    flex-direction: column;
    width: 800px;
    height: max-content;
    padding: 1em;
    justify-content: center;
    align-items: center;
    background: white;
}
/*this is the form Id inside the form class*/
#Sform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 4em;
    overflow: hidden;
}
#names {
    display: flex;
    flex-direction: row;
}
/*General styling for all form elements*/
 #Sform * {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
/*submit button*/
#sub {
    color: rgb(255, 255, 255);
    background-color: rgb(28, 181, 1);
    transition: .3s ease-in-out;
    font-size: 20px;
}
#sub:hover {
    font-size: 40px;
    background-color:rgb(13, 255, 0);
}
p a {
    color: rgb(80, 157, 4);
    text-decoration: none;
}